@import 'https://cdn.jsdelivr.net/npm/water.css@2/out/water.css';

body {
  background-color: var(--doc-color-background, inherit);
}

.box {
  width: 4rem;
  height: 4rem;
  background-color: var(--color-white);
  box-shadow: var(--shadow-large);
  border-radius: var(--border-radius-medium);
}
